.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.about__title{
  margin: 40px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  h1{
    font-family: 'Bitter', serif;
  };

  &__background{
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='5' height='5' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(247, 250, 252,1)'/%3E%3Cpath d='m10 0v40h20v-40z' fill='rgba(0, 0, 0,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E");
    background-size: contain;

    padding-left: 20px;
    padding-right: 20px;

    width: 755px;
    min-width: 200px;

    height: 300px;

    left: 10px;
    top: 10px;

    z-index: 1;

    position: absolute;

  }

  &__card {
    display: flex;
    flex-direction: column;

    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid black;
    background-color: rgb(253, 254, 255);

    width: 755px;
    min-width: 200px;

    height: 300px;

    z-index: 2;


    &-item{
        text-align: center;
        margin: 40px 20px 20px 20px;
    }
  }
}
